.dungeon-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    color: #ad7909;
    font-size: 1.5rem;
    font-family: 'Press Start 2P';
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
}